#============= adbd ==============
allow adbd kernel:system syslog_mod;
allow adbd self:capability2 syslog;
allow adbd unlabeled:file { read execute open getattr execute_no_trans };
allow adbd unlabeled:lnk_file read;

#============= bluetooth ==============
allow bluetooth device:chr_file { read write ioctl open };

#============= media_app ==============
allow media_app unlabeled:file execute;
allow media_app init_tmpfs:file read;
allow media_app unlabeled:dir getattr;
allow media_app unlabeled:file { read getattr open };

#============= nfc ==============
allow nfc init_tmpfs:file read;
allow nfc unlabeled:dir getattr;
allow nfc unlabeled:file { read getattr open execute };

#============= platform_app ==============
allow platform_app init_tmpfs:file read;
allow platform_app unlabeled:file { read getattr open };
allow platform_app init:unix_stream_socket { read setopt };
allow platform_app unlabeled:dir getattr;

#============= release_app ==============
allow release_app init_tmpfs:file read;
allow release_app unlabeled:dir getattr;
allow release_app unlabeled:file { read getattr open };

#============= shared_app ==============
allow shared_app init_tmpfs:file read;
allow shared_app unlabeled:dir getattr;
allow shared_app unlabeled:file { read getattr open };

#============= system ==============
allow system init:unix_stream_socket { read setopt };
allow system init_tmpfs:file read;
allow system unlabeled:dir { read search open getattr };
allow system unlabeled:file { read getattr open execute execute_no_trans };
allow system device:chr_file { read write ioctl open };
allow system init:process setsched;

#============= system_app ==============
allow system_app init_tmpfs:file read;
allow system_app unlabeled:dir getattr;
allow system_app unlabeled:file { read getattr open };

#============= radio ==============
allow radio init_tmpfs:file read;
allow radio unlabeled:dir getattr;
allow radio unlabeled:file { read getattr open };
allow radio unlabeled:dir search;

#============= ueventd ==============
allow ueventd unlabeled:dir search;
allow ueventd unlabeled:file { read getattr open };
allow ueventd unlabeled:lnk_file read;
